/**
 *  rdg © 2017
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

nav {
    max-width: 1200px;
    height: 59px;
    position: relative;
    top: 0;
    line-height: 27px;
    margin: auto;
    border-bottom: 1px solid #333;
}

nav > a {
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    padding: 16px;
    float: right;
}

nav > a.title {
    padding: 16px;
    font-size: 30px;
    float: left;
}

nav > a:hover {
    background-color: rgba(0,0,0, 0.3);
}

main {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}

section > p > a {
    color: #555;
    text-decoration: none;
}

section > p > a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: lighter;
}

img {
    width: 95%;
}

p {
    line-height: 1.4em;
}

code {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 0 2px;
    border: 1px solid gray;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

@media only screen and (max-width: 1280px) {
    .github-corner {
        display: none;
    }
}
